@media screen and (max-width: 1000px) {

    
/* =================================================
        HEADER STARTED FROM HERE
=================================================== */
#headerOneImage, #headerTwoImage, #headerThreeImage, #headerFourImage{
min-height: 400px;
}

#holderOnHeader{
width: 35%;
}

.holderOnHeader{
width: 40%;
}

.carousel-indicators{
left: 110%;
}

    
/* =================================================
        LET'S GET STARTED FROM HERE
=================================================== */
    
.buttonFindOutMoreInThreeDivs {
bottom: -80px;
}

.textInsideTheThreeDivs{
margin-right: 0px;
}

#secondDivInsideThreeDivs{
margin-left: 1.5%;
margin-right: 1.8%;
}
#firstDivInsideThreeDivs{
margin-right: 1.5%;
}
.threeDivsInsideLetsGetStarted{
width: 32%;
height: 250px;
display: inline-block;
margin-right: -4px;
position: relative;
text-align: left;
}
    
.pencilIcon{
width: 250px;
margin-left: 20px;
}

/* =================================================
        OUR PROCESS STARTED FROM HERE
=================================================== */

#leftSideProcess {
width: 35%;
}

#rightSideProcess {
width: 60%;
}

#middlePartProcess > div {
width: 31%;
}

#researchBox, #buildBox {
margin-left: 3%;
margin-right: 3%;
} 

.titleBoxProcess{
font-size: 20pt;
}

#middlePartProcess img{
height: 50px;
}

#meetingBox img{
height: 45px;
}

    
/* =================================================
        WHY US STARTED FROM HERE
=================================================== */
    
#topLeftWhyUs{
width:50%;
}


#topRightWhyUs{
width:50%;
}

#topRightWhyUs img{
padding-top: 50px;
}   

#middleRightWhyUs{
width: 50%;
}

#middleLeftWhyUs{
width: 50%;  
}

#bottomRightWhyUs{
width: 50%;

}

#bottomLeftWhyUs{
width: 50%;    
}

#bottomRightWhyUs img{
width: 100%;
}
    
    
    
/* =================================================
        OUR RATES STARTED FROM HERE
=================================================== */
    
.holderForStartedBusinessProPack h3{
font-size: 20px;
}

.holderForStartedBusinessProPack p{
font-size: 7px;
}


#holderOurRatesRightSideHeader{
height: 250px;
}

#holderOurRatesLeftSideHeader{
padding-right: 50px;
}


    
    
    
/* =================================================
       WHERE ARE WE STARTED FROM HERE
=================================================== */
#whereAreWeSideTextBox{
width: 45%;
}

    
    
/* =================================================
      CONTACT US STARTED FROM HERE
=================================================== */

textarea, #buttonContactUs, #topEqua{
font-size: 14px;
}   
    
    
.contactUsInput::-webkit-input-placeholder {
font-size: 14px;
}

.contactUsInput:-moz-placeholder { /* Firefox 18- */
font-size: 14px;
}

.contactUsInput::-moz-placeholder {  /* Firefox 19+ */
font-size: 14px;
}

.contactUsInput:-ms-input-placeholder {
font-size: 14px;
}
    
    #buttonContactUs.buttonContactUsPL{
        width: 70%;
    }
    
    
    
    
    
/* =================================================
     FOOTER STARTED FROM HERE
=================================================== */
    
#footerHolderInner p{
padding-top: 26px;
padding-right: 26px;
font-size: 12px;
}

footer ul li{
font-size: 12px;
}

#footerLogo{
float: right;
width: 100px;
padding-top: 28px;
}
    
    
    
/*<>>><><><><><><><><><><><><><><><><><><><><><><><><><>
            DIGITAL NEW PAGE FROM HERE
<><><><><><><<><><><><><><<><><><><><><><><><><><><><<><>*/

#topRightHolder.digitalTopRightHolder{
height: 500px;
}
    
    
    
    
/* =====================================
         PRINT PAGE FROM HERE
======================================*/
    #topRightHolder.printTopRigthHolder img{
    margin-top: 120px;
    }     
    
#printCarImageFloatedInTheMiddle{
top: 47%;
}
    
    #topRightHolder img{
    margin-top: 80px;
    }
    
    
    #siteMapBoydWithLinks{
     width: 100%;  
    }
    
/*==========================================
            SITE MAP
========================================== */
#siteMapFramework{
    display: block;
}
    
    #siteMapFrameworkPhone{
        display: none;
    }
.textSiteMap{
padding-top: 8px;
width: 120px;
}
.textSiteMap h5{
font-size: 17px;
padding-left: 9px;
}
    
.textSiteMap h6{
padding-left: 10px;
font-size: 10px;
}
    
    #siteMapOurWork:after{
        margin-right: -50px;
        margin-top: 19px;
    }
    
    #siteMapPrint{
     left: 310px;   
    }
    
    #siteMapPrint:after{
        margin-right: 30px;
    }
    
    #siteMapDigital{
        left: 470px;
    }
    
    #siteMapDigital:after{
     margin-right: 25px;   
    }
    
    #siteMapDevelopment{
        left: 625px;
    }
    
    #siteMapWhereAreWe:after{
        margin-top: 20px;
        margin-right: -50px;
    }
    
    #informationSiteMap{
        left: 220px;
        display: block;
    }

    #littleIconOnInfoSiteMap{
        display: block;
    }
    
    #littleIconOnInfoSiteMap{
        left: 485px;
    }
    
    .miniHolderForSectionWithNumberAndTextClass{
        width: 130px;
    }
    
    .holderForSectionWithNumberAndTextClass{
        width: 170px;
    }
    
    #holderForHeadingText h2{
        margin-left: 1%;
    }
    
    #holderForHeadingText h1{
        margin-left: 1%;
    }
    
    #informationSiteMapPhone, #blackVeritcalLineWhereAreWe, #blackVeritcalLineWhereAreWeDigital, #blackVeritcalLineWhereAreWeDevelopment, #blackVeritcalLineWhereAreWeCities{
        display: none;
    }
    
 /*==============================
        OCIP - Contact PAGE
===============================*/
    
    #contactUsPL-MiddleBlock{
        display: block;
        flex:1%;
    }
    
      #contactUsPL-LeftBlock h2{
        font-size: 30px;
    }
    
    #latestInfoHolder h2{
        font-size: 30px;
    }
    
    #buttonFormPL{
        width: 140px;
    }
    
    #emailBox {
    width: 35%;
}
    #contactUsPL-form{
        justify-content: flex-start;
    }
    
    
    #contactUsPL-LeftBlock{
        padding-top: 0px;
    }
    
        #contactUsPL-ContentHolder{
        width: 100%;
    }
    
    
}
