@media screen and (max-width: 1000px) {

    
/* =================================================
        HEADER STARTED FROM HERE
=================================================== */
#headerOneImage, #headerTwoImage, #headerThreeImage, #headerFourImage{
min-height: 400px;
}

#holderOnHeader{
width: 35%;
}

.holderOnHeader{
width: 40%;
}

.carousel-indicators{
left: 110%;
}

    
/* =================================================
        LET'S GET STARTED FROM HERE
=================================================== */
    
.buttonFindOutMoreInThreeDivs {

bottom: -80px;
}

.textInsideTheThreeDivs{
margin-right: 0px;
}

#secondDivInsideThreeDivs{
margin-left: 1.5%;
margin-right: 1.8%;
}
#firstDivInsideThreeDivs{
margin-right: 1.5%;
}
.threeDivsInsideLetsGetStarted{
width: 32%;
height: 250px;
display: inline-block;
margin-right: -4px;
position: relative;
text-align: left;
}
    
.pencilIcon{
width: 250px;
margin-left: 20px;
}

/* =================================================
        OUR PROCESS STARTED FROM HERE
=================================================== */

#leftSideProcess {
width: 35%;
}

#rightSideProcess {
width: 60%;
}

#middlePartProcess > div {
width: 31%;
}

#researchBox, #buildBox {
margin-left: 3%;
margin-right: 3%;
} 

.titleBoxProcess{
font-size: 20pt;
}

#middlePartProcess img{
height: 50px;
}

#meetingBox img{
height: 45px;
}

    
/* =================================================
        WHY US STARTED FROM HERE
=================================================== */
    
#topLeftWhyUs{
width:50%;
}


#topRightWhyUs{
width:50%;
}

#topRightWhyUs img{
padding-top: 50px;
}   

#middleRightWhyUs{
width: 50%;
}

#middleLeftWhyUs{
width: 50%;  
}

#bottomRightWhyUs{
width: 50%;

}

#bottomLeftWhyUs{
width: 50%;    
}

#bottomRightWhyUs img{
width: 100%;
}
    
    
    
/* =================================================
        OUR RATES STARTED FROM HERE
=================================================== */
    
.holderForStartedBusinessProPack h3{
font-size: 20px;
}

.holderForStartedBusinessProPack p{
font-size: 7px;
}


#holderOurRatesRightSideHeader{
height: 250px;
}

#holderOurRatesLeftSideHeader{
padding-right: 50px;
}


    
    
    
/* =================================================
       WHERE ARE WE STARTED FROM HERE
=================================================== */
#whereAreWeSideTextBox{
width: 45%;
}



}
