@font-face {
    font-family: Allura;
    src: url(./FONTS/Allura-Regular.ttf);
}

@font-face {
    font-family: LuckiestGuy;
    src: url(./FONTS/LuckiestGuy-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(./FONTS/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-BoldItalic;
    src: url(./FONTS/OpenSans-Italic.ttf);
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(./FONTS/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: OpenSans-ExtraBoldItalic;
    src: url(./FONTS/OpenSans-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: OpenSans-Italic;
    src: url(./FONTS/OpenSans-Italic.ttf);
}

@font-face {
    font-family: OpenSans-Light;
    src: url(./FONTS/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans-LightItalic;
    src: url(./FONTS/OpenSans-LightItalic.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(./FONTS/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-SemiBold;
    src: url(./FONTS/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: OpenSans-SemiBoldItalic;
    src: url(./FONTS/OpenSans-SemiboldItalic.ttf);
}


body{
width:100%;
margin:0;
font-family: OpenSans-Regular;
}

p{
font-size: 13px;
}

h1, h2, h3, h4, h5, h6 , p ,a, li{
    color: black;
}

.mobileImage{
  display: none !important;
}

/* ===================================================
                NAVIGATION MENU FROM HERE
====================================================*/

/*THE NAV BAR IS GOING TO BE THE PART OF THE BAR THAT EXTENDS EG: BACKGROUND*/


nav {
  background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(62,61,61) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(62,61,61) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(62,61,61) 100%);
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  width:100%;
  height: 108px;
  margin:0;
  border-bottom: solid 3px #d11432;
    z-index: 100;
}

/*Nav Content IS THE PART OF THE NAVIGATION BAR THAT DOESNT EXTEND EG: TEXT, IMAGES*/
#navContent{
  position: relative;
  top:22px;
  max-width: 100%;
  width: 1206px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

#leftSideNav{
  margin-left:10px
}

#rightSideNav{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  width:230px;
  margin-right: 10px;
}

.socialMediaIcons{
  height:23px;
}

.navMenuPopUpWindowOpen{
display: block;
width: 250px;
background: rgba(0,0,0,0.8);
height: auto;
position: absolute;
z-index: 9999;
right: 150px;
top: 86px;
border-radius: 10px 0px 10px 10px;
}

.contactUsSocialMediaNav{
  width:10%;
  display:inline;
  margin-right:5%;
 display: none;
}

.socialIconsNavMenu{
display: none;
}


.navMenuPopUpWindowClosed{
display: none;
}

#navTextInTheListPlusCloseIcon{
border-bottom: 1px solid gray;
}

#navTextInTheListPlusCloseIcon{
cursor: pointer;
}

#navTextInTheListPlusCloseIcon p{
color: #808080;
padding: 10px 10px 5px 15px;
font-family: OpenSans-Regular;
font-size: 20px;
}

#navTextInTheListPlusCloseIcon p:after{
content: "";
background: url("MEDIA/navCrossOpen.svg") no-repeat;
width: 25px;
height: 25px;
float: right;
}

#navTextInTheListPlusCloseIcon:hover p:after{
background: url("MEDIA/navCrossClosed.svg") no-repeat;
}

#navMenuUl{
padding-left: 0px;
}

#navMenuUl:hover{
padding-left: 0px;
}


.navigationMenuList{
list-style-type: none;
font-size: 20px;
padding: 10px 15px;
font-family: OpenSans-Regular;
color: white;
text-decoration: none;
}

.navigationMenuList:hover{
cursor: pointer;
}

.navigationMenuList:hover:after{
content: "";
background: url("MEDIA/arrowRightDarkRed.svg") no-repeat;
width: 24px;
height: 24px;
float: right;
}

.navigationMenuList:hover:before{
content: "";
background: url("MEDIA/navLeftCoverPaddingImage.svg") no-repeat;
width: 8px;
height: 30px;
float: left;
margin-left: -15px;
}

.burgerLogoHolderClass{
margin-top: 30px;
padding-top: 20px;
width: 90px;
height: 80px;
background: url('MEDIA/navMenuIconWhite.png') no-repeat;
background-position: 24px 10px;
background-size: 50% 35%;
}

.burgerLogoHolderClass:hover{
background: url('MEDIA/navMenuIconDarkRed.png') no-repeat;
background-position: 24px 10px;
background-color: black;
opacity: 0.8;
background-size: 50% 35%;
border-radius: 10px 10px 0px 0px;
cursor: pointer;
}

.triangleDownIconClass{
display: none;
width: 15px;
height: 15px;
margin-top: 35px;
margin-left: 38px;
}

.burgerLogoHolderClass:hover .triangleDownIconClass{
display: block;
}


.burgerLogoHolderClassWhenCLicked{
background: url('MEDIA/navMenuIconDarkRed.png') no-repeat;
background-position: 24px 10px;
background-color: black;
opacity: 0.8;
background-size: 50% 35%;
border-radius: 10px 10px 0px 0px;
}

.triangleDisplayWHenClicked{
display: block;
}

.anchorInTheNavigationMenu:hover{
text-decoration: none;
}

/*================================================
            HEADER FROM HERE - 4 IMAGES
==================================================*/


#headerOneImage{
background: url('MEDIA/HEADERIMAGES/ocipgroup-header1.jpg');
}

#headerTwoImage{
background: url('MEDIA/HEADERIMAGES/ocipgroup-header4.jpg');
}

#headerThreeImage{
background: url('MEDIA/HEADERIMAGES/ocipgroup-header3.jpg');
}

#headerFourImage{
background: url('MEDIA/HEADERIMAGES/ocipgroup-header2.jpg');
}

#headerOneImage, #headerTwoImage, #headerThreeImage, #headerFourImage{
width: 100%;
height: 100vh;
min-height: 800px;
background-size: cover;
background-position: center;
}

#headerThreeImage{
background-position: left;
}

.holderOnHeader{
width: 27.3%;
margin-left: 9.9%;
position: relative;
max-width: 100%;
padding-top: 200px;
height: auto;
}


h1{
font-size: 85px;
font-family: LuckiestGuy;
}

#imageOnSLideOne{
}

#pOnHeaderIMageONe{
color: white;
font-size: 17px;
width: 100%;
font-family: OpenSans-light;
}


#watchVideoGarySlideButton{
width: 160px;
margin-top: 50px;
color: white;
border: 2px solid white;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
box-shadow: inset 0 0 0 0 #000000;
transition: all 0.5s;
}

#watchVideoGarySlideButton p:after{
  content: "";
    display: block;
    background: url("MEDIA/arrowWhite.svg") no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0px 6px 0px 10px;
    transition-delay: 0.2s;
    transition: all 0.5s;
}


#watchVideoGarySlideButton p{
    margin: 0px;
    padding: 5px 5px 5px 10px;
    font-family: OpenSans-Bold;
    font-size: 15px;
    color: white;
}

#watchVideoGarySlideButton p:hover{
color: black;
}

#watchVideoGarySlideButton:hover{
    cursor: pointer;
    box-shadow: inset 180px 0px 0 0 #fff;
}

#watchVideoGarySlideButton:hover p:after{
    background: url("MEDIA/arrowRigth.svg") no-repeat;
}



/*===============IMAGE 3 ============*/

#skyLimitText{
font-family: Allura;
font-size: 45px;
padding: 0px;
margin: 0px;
margin-left: 35px;
color: #da2a47;
}

#startupText{
font-size: 2.4vw;
margin-top: 5px;
font-family: OpenSans-Bold;
color: white;
}

#textOnBusiness{
font-family: OpenSans-Light
}

/*========= BOOTSRAP AMENDS FOR COURSEL INDICATOR =========*/

.carousel-indicators .active{
background-color: #ee4745;
width: 15px;
height: 15px;
margin: 1px;
}

.carousel-indicators{
left: 120%;
width: 100px;
}

.carousel-indicators li{
width: 15px;
height: 15px;
border: 1px solid black;
}

.glyphicon-chevron-left:before{
content: "";
}

.glyphicon-chevron-right:before{
content: "";
}

.carousel-control{
width: 10%;
}

/* =================================================
        WHO ARE WE?
=================================================== */

#wAwHolder{
  width:100%;
  background: url("./MEDIA/backgroundWhoAreWe.jpg") no-repeat;
  background-size: cover;
}

#wAwContentHolder{
  max-width: 100%;
  width: 1206px;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

#wAwContentHolder h2{
    font-size: 60px;
    font-family: OpenSans-SemiBold;
}

#wAwContentHolder h4{
    font-size: 25px;
}

#pOnThewAw{
text-align: left;
width: 60%;
  color: #000000;
  margin: auto;
 display: block;

}

#wAwButton{
  margin: 50px auto;
  height:30px;
  border:2px solid #000000;
  width: 175px;
  border-radius: 25px 25px;
  transition: all 0.5s;
}

#wAwButton:active{
  transform: scale(0.8);
}

#wAwButton p{
  color: #000000;
  font-family: OpenSans-Bold;
  font-size: 15px;
  margin:0;
  padding: 3px 5px 5px 10px;
  transition: all 0.5s;
}

#wAwButton p:after{
   content: "";
    background: url("./MEDIA/arrowRigth.svg") no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0px 6px 0px 10px;
    box-shadow: inset 0 0 0 0 #000000;
	  -webkit-transition: all 1s;
	  -moz-transition: all 1s;
	  transition: all 1s;
    transition-delay: 0.2s;
}

#wAwButton:hover{
    box-shadow: inset 180px 0px 0 0 #fff;
    cursor: pointer;
}


#wAwButton:hover p:after{
  background: url("./MEDIA/arrowRightDarkRed.svg") no-repeat;
}

#wAwArrowDown{
  width:5%;
  margin:auto;
}


/* =================================================
        LET'S GET STARTED FROM HERE
=================================================== */

#letsGetStartedHolder{
    width: 100%;
    background-color: #f34947;
    margin-top: 0px;
    height: auto;
}


#letsGetStartedHolderInner{
    max-width: 100%;
    width: 1206px;
    margin: auto;
    overflow: auto;
    text-align: center;
    height: 550px;
}

#letsGetStartedHolderInner h2{
    font-size: 42.6px;
}

#letsGetStartedHolderInner h4{
    font-size: 19px;
    margin-bottom: 100px;
}

.threeDivsInsideLetsGetStarted{
    width: 29.9%;
    height: 250px;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    text-align: left;
}

#firstDivInsideThreeDivs{
     border-right: 4px solid black;
}

#secondDivInsideThreeDivs{
    border-right: 4px solid black;
    width: 29.5%;
    margin-left: 4.5%;
    margin-right: 4.8%;
}




.circleForThreeDivs {
-moz-border-radius: 50px/50px;
-webkit-border-radius: 50px 50px;
border-radius: 50px/50px;
border: solid 2px black;
width: 25px;
height: 25px;
position: absolute;
left: -1px;
}

.textNextToCircle{
position: absolute;
left: 4px;
top: -4px;
}

.textNextToCircle p{
font-family: OpenSans-Bold;
font-size: 22px;
}

.textInsideTheThreeDivs{
position: absolute;
font-size: 13px;
left: 0px;
top: 30px;
margin-right: 30px;
}

.buttonFindOutMoreInThreeDivs{
position: absolute;
bottom: -30px;
left: 0px;
border: 2px solid black;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
box-shadow: inset 0 0 0 0 #000000;
transition: all 0.5s;
}

.buttonFindOutMoreInThreeDivs:active{
    transform: scale(0.8);
}


.buttonFindOutMoreInThreeDivs:hover{
    cursor: pointer;
    color: #ee4745;
    box-shadow: inset 180px 0px 0 0 #000000;
}

.buttonFindOutMoreInThreeDivs:hover p:after{
    background: url("MEDIA/arrowDownRed.svg") no-repeat;
}


.buttonFindOutMoreInThreeDivs p{
    margin: 0px;
    padding: 5px 5px 5px 10px;
    font-family: OpenSans-Bold;
    font-size: 15px;
}

.buttonFindOutMoreInThreeDivs p:hover{
 color: #ee4745;
}

.buttonFindOutMoreInThreeDivs p:after{
   content: "";
    display: block;
    background: url("MEDIA/arrowRigth.svg") no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0px 6px 0px 10px;
    transition-delay: 0.2s;
    transition: all 0.5s;
}


.printerIcon{
width: 20%;
position: absolute;
left: 70%;
top: -42px;
}

/* ----------- HIDEN DIV ----------- */


#printHiddenDivForGetStarted, #digitalHiddenDivForGetStarted, #developmentHiddenDivForGetStarted{
display: none;
}

#hiddenDivForGetStarted{
display: none;
width: 100%;
height: 550px;
border-top: 6px solid #2b2a2a;
background: #ee4745;
background: -webkit-linear-gradient(#ee4745, #c43737);
background: -o-linear-gradient(#ee4745, #c43737);
background: -moz-linear-gradient(#ee4745, #c43737);
background: linear-gradient(#ee4745, #c43737);
background: -moz-linear-gradient(#ee4745, #c43737);
background: linear-gradient(#ee4745, #c43737);
}

#innerHolderForHidden{
width: 1206px;
margin: auto;
margin-top: 0px;
height: 300px;
max-width: 100%;
}

#twoThirdsOfTheInnerHolder{
width: 66%;
height: 200px;
float: left;
margin-right: -4px;
}

#twoThirdsOfTheInnerHolder h2{
     font-size: 42.6px;
}

#twoThirdsOfTheInnerHolder h4{
font-size: 19px;
margin-left: 3px;
}

#oneThirdOfTheInnerHolder{
width: 34%;
height: 200px;
float: left;
}

.WhereAreWeAndPrintDevDigitalUl{
columns: 2;
-webkit-columns: 2;
-moz-columns: 2;
padding: 0;
line-height: 210%;
font-size: 15px;
}

.listInHidenGetStarted
{
list-style-type: none;
margin-right: 25px;
}

.listInHidenGetStarted:before{
content: "";
display: block;
background: url("MEDIA/tickIcon.svg") no-repeat;
width: 12px;
height: 12px;
float: left;
margin: 10px 6px 0px 0px;
}


#spcialList:before{
background: none;
}

.pencilIcon{
margin-top: 80px;
margin-left: 50px;
width: 300px;
height: 450px;
}

#keyboardPencilIcon{
margin-top: 30px;
}

.buttonContactUsHiddenDiv{
width: 165px;
color: black;
border: 2px solid black;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
box-shadow: inset 0 0 0 0 #000000;
transition: all 0.5s;
}

.buttonContactUsHiddenDiv:hover{
cursor: pointer;
color: #ee4745;
box-shadow: inset 180px 0px 0 0 #000000;
}

.buttonContactUsHiddenDiv:active{
transform: scale(0.8);
}

.buttonContactUsHiddenDiv p{
padding: 5px 8px 5px 13px;
margin: 0px;
font-family: OpenSans-Bold;
font-size: 15px;
color: black;
}

.buttonContactUsHiddenDiv p:hover{
color: #ee4745;
}


.buttonContactUsHiddenDiv p:after{
content: "";
float: right;
display: block;
background: url("MEDIA/arrowRigth.svg") no-repeat;
width: 20px;
height: 20px;
margin: 0px 6px 0px 10px;
transition-delay: 0.2s;
    transition: all 0.5s;
}

.buttonContactUsHiddenDiv:hover p:after{
background: url("MEDIA/arrowRightRed.svg")
}

.closeHiddenDivButton {
margin-top: 40px;
margin-right: 100px;
float: right;
background: #f34947;
color: black;
font-weight: bold;
text-align: center;
width: 25px;
height: 25px;
border-radius: 50%;
border: 3px solid black;
}

.closeHiddenDivButton:after{
  transform: scale(0.8);
}

.closeHiddenDivButton:hover{
    cursor: pointer;
}
.closeHiddenDivButton span{
padding-left: 6px;
}



/* =================================================
        OUR PROCESS FROM HERE
=================================================== */

#ourProcessHolder{
  background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(43,42,42) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(43,42,42) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(43,42,42) 100%);
  width:100%;
  height: auto;
}

#contentBoxProcess{
  max-width: 100%;
  width:1206px;
  height:auto;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

#topPartProcess{
  display:inline-block;
}

#leftSideProcess {
  border-right: solid 2px #ffffff;
  width:25%;
  float:left;
}

#leftSideProcess > h2 {
  color: #ffffff;
  font-size: 42.6px;
  font-family: OpenSans-SemiBold;
  margin:0;
}

#leftSideProcess > h4 {
  color: #ffffff;
  font-size: 19px;
  font-family: OpenSans-Light;
  margin:0;
}

#rightSideProcess{
  position: relative;
  top: 15px;
  width:50%;
  float:left;
  margin-left: 2%;
}

#rightSideProcess p {
  margin: auto;
  color: #ffffff;
}

#middlePartProcess{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

#middlePartProcess > div{
  width: 25%;
  margin-top: 50px;
}

#meetingBox img{
height: 75px;
}

#researchBox{
  margin-left: 12%;
  margin-right:12%;
}

#buildBox{
  margin-left: 12%;
  margin-right:12%;
}

#middlePartProcess > img {
  position: relative;
  right:0;
}

#middlePartProcess > div img{
  float: right;
}


#middlePartProcess p{
  color: #ffffff;
}

.numberProcess{
  font-size: 35pt;
  color: #b5122c;
  font-family: OpenSans-Bold;
}

.titleBoxProcess{
  font-size: 25pt;
  font-family: OpenSans-SemiBold;
  margin-left: 1%;
}

#enquireNowButton{
  margin: 20px 0 20px 0;
  height:30px;
  position: relative;
  border:2px solid #ffffff;
  width: 175px;
  left:75%;
  border-radius: 25px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

#enquireNowButton p{
  color: #ffffff;
  font-family: OpenSans-Bold;
  font-size: 15px;
  margin:0;
  padding: 5px 5px 5px 10px;
  transition: all 0.5s;
}

#enquireNowButton p:after{
   content: "";
    background: url("./MEDIA/arrowWhite.svg") no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0px 6px 0px 10px;
    box-shadow: inset 0 0 0 0 #ffffff;
	  -webkit-transition: all ease 0.8s;
	  -moz-transition: all ease 0.8s;
	  transition: all ease 1s;
    transition-delay: 0.2s;
}

#enquireNowButton:hover{
    box-shadow: inset 180px 0px 0 0 #ffffff;
    cursor: pointer;
}

#enquireNowButton:active{
  transform: scale(0.8);
}

#enquireNowButton:hover p{
  color:#000000;
}

#enquireNowButton:hover p:after{
  background: url("MEDIA/arrowRigth.svg") no-repeat;
}

/* =================================================
        WHY CHOOSE US FROM HERE
=================================================== */

#whyUsHolder{
  background-color: #fdfdfd;
  width: 100%;
  height:auto;
}

#contentHolderWhyUs{
  max-width: 100%;
  width:1206px;
  height: auto;
  margin:50px auto 50px auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

#topLeftWhyUs{
  width:33%;
  height:auto;
}

#topLeftWhyUs h2{
  font-family: OpenSans-SemiBold;
  font-size: 42.6px;
  margin: 0;
}

#topLeftWhyUs h4{
  font-family: OpenSans-Light;
  font-size: 19px;
  margin: 0;
}

#topLeftWhyUs p{
  margin:10px auto auto auto;
}

#topLeftWhyUs img{
  float:right;
}



#topRightWhyUs{
  width:66%;
  height: auto;
}

#topRightWhyUs img{
  width:100%;
}

#getInTouchButton{
  margin: 20px 0 20px 0;
  height:30px;
  border:2px solid #000000;
  width: 175px;
  border-radius: 25px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  display: inline-block;
}

#getInTouchButton:active{
  transform: scale(0.8);
}

#getInTouchButton p{
  color: #000000;
  font-family: OpenSans-Bold;
  font-size: 15px;
  margin:0;
  padding: 3px 5px 5px 10px;
  transition: all 0.5s;
}

#getInTouchButton p:after{
   content: "";
    background: url("./MEDIA/arrowRigth.svg") no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0px 6px 0px 10px;
    box-shadow: inset 0 0 0 0 #000000;
	  -webkit-transition: all 1s;
	  -moz-transition: all 1s;
	  transition: all 1s;
    transition-delay: 0.2s;
}

#getInTouchButton:hover{
    box-shadow: inset 180px 0px 0 0 #000000;
    cursor: pointer;
}

#getInTouchButton:hover p{
  color:#ffffff;
}

#getInTouchButton:hover p:after{
  background: url("MEDIA/arrowWhite.svg") no-repeat;
}


#middleLeftWhyUs{
  width:66%;
  height:auto;
}
#middleLeftWhyUs img{
max-width: 100%;
}

#middleRightWhyUs{
  width:33%;
}

#middleRightWhyUs h2{
  font-family: OpenSans-SemiBold;
  font-size: 42.6px;
  margin: 0;
}

#middleRightWhyUs h4{
  font-family: OpenSans-Light;
  font-size: 19px;
  margin: 0;
}

#middleRightWhyUs p{
  margin:10px auto auto auto;
}

#middleRightWhyUs img{
  margin-top: 10px;
}

#ourWorkButton{
  margin: 20px 0 20px 0;
  height:30px;
  border:2px solid #000000;
  width: 175px;
  border-radius: 25px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  display: inline-block;
  float: right;
}

#ourWorkButton:active{
  transform: scale(0.8);
}

#ourWorkButton p{
  color: #000000;
  font-family: OpenSans-Bold;
  font-size: 15px;
  margin:0;
  padding: 3px 5px 5px 10px;
  transition: all 0.5s;
}

#ourWorkButton p:after{
    content: "";
    background: url("MEDIA/arrowRigth.svg") no-repeat;
    float: right;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 0 #000000;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    transition-delay: 0.2s;
}

#ourWorkButton:hover{
    box-shadow: inset 180px 0px 0 0 #000000;
    cursor: pointer;
}

#ourWorkButton:hover p{
  color:#ffffff;
}

#ourWorkButton:hover p:after{
  background: url("MEDIA/arrowWhite.svg") no-repeat;
}

#bottomLeftWhyUs{
  width:34%;
  margin-top:20px;
}

#bottomLeftWhyUs h2{
  font-family: OpenSans-SemiBold;
  font-size: 42.6px;
  margin: 0;
}

#bottomLeftWhyUs h4{
  font-family: OpenSans-Light;
  font-size: 19px;
  margin: 0;
}

#bottomLeftWhyUs p{
  margin:10px auto auto auto;
}

#enquireWhyUsButton{
  margin: 20px 0 20px 0;
  height:30px;
  border:2px solid #000000;
  width: 175px;
  border-radius: 25px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

#enquireWhyUsButton:active{
  transform: scale(0.8);
}

#enquireWhyUsButton p{
  color: #000000;
  font-family: OpenSans-Bold;
  font-size: 15px;
  margin:0;
  padding: 5px 5px 5px 10px;
  transition: all 0.5s;
}

#enquireWhyUsButton p:after{
    content: "";
    background: url("./MEDIA/arrowRigth.svg") no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0px 6px 0px 10px;
    box-shadow: inset 0 0 0 0 #000000;
	  -webkit-transition: all 1s;
	  -moz-transition: all 1s;
	  transition: all 1s;
    transition-delay: 0.2s;
}

#enquireWhyUsButton:hover{
    box-shadow: inset 180px 0px 0 0 #000000;
    cursor: pointer;
}

#enquireWhyUsButton:hover p{
  color:#ffffff;
}

#enquireWhyUsButton:hover p:after{
  background: url("MEDIA/arrowWhite.svg") no-repeat;
}

#bottomRightWhyUs{
  width: 66%;
  margin-bottom: 100px;
}

#bottomRightWhyUs img{
  float:right;
}



/*================================================
                OUR RATES FROM HERE
=================================================*/

#holderForOurRates  {
width: 100%;
padding-top: 1px;
background: #f3f3f3;
background: -webkit-linear-gradient(left, #f3f3f3 , #dbdbdb);
background: -o-linear-gradient(right, #f3f3f3, #dbdbdb);
background: -moz-linear-gradient(right, #f3f3f3, #dbdbdb);
background: linear-gradient(to right, #f3f3f3 , #dbdbdb);
}

#innerHolderForOurRates{
margin: auto;
width: 1206px;
max-width: 100%;
}

#holderOurRatesLeftSideHeader{
width: 49%;
padding-right: 100px;
float: left;
}


#holderOurRatesRightSideHeader{
width: 50.5%;
height: 200px;
margin-top: 50px;
display: flex;
align-items: center;
justify-content: center;
}

#ourRatesHeaderHolder{
width: 250px;
height: auto;
border-right: 2px solid black;
display: inline-block;
margin-bottom: 20px;
}

#ourRatesHeaderHolder h2{
font-family: OpenSans-SemiBold;
font-size: 40px;
margin: 0px;
}

#ourRatesHeaderHolder p{
font-size: 18px;
}

#priceTag{
width: 70px;
height: 70px;
display: inline-block;
background: url("MEDIA/priceTagIcon.svg") no-repeat;
background-size: 100% 100%;
}

.outerPackHolder{
width: 27%;
margin-left: 3%;
margin-right: 3%;
float: left;
}

.holderForStartedBusinessProPack{
background: url("MEDIA/priceRangeIcon.svg") no-repeat;
background-size: 100%;
width: 100%;
height: auto;
text-align: center;
padding-bottom: 30px;
}



.holderForStartedBusinessProPack h3{
font-family: OpenSans-SemiBold;
color: white;
font-size: 25px;
margin: 0px;
padding: 0px;
padding-top: 10px;
}

.holderForStartedBusinessProPack p{
color: white;
font-size: 10px;
padding-top: 10px;
font-family: OpenSans-Regular;
}

#firstPack{
align-self: flex-end;
}

#proPack{
align-self: flex-start;
}

.circleInPacks{
background-color: #f54f4f;
padding: 1px 7px;
border-radius: 50%;
}

#tableHolder{
width: 1206px;
max-width: 100%;
margin: auto;
display: block;
/*overflow: auto;*/
}

table{
width: 100%;
background: #d5d5d5;
background: -webkit-linear-gradient(left, #d5d5d5 , #eeeeee);
background: -o-linear-gradient(right, #d5d5d5, #eeeeee);
background: -moz-linear-gradient(right, #d5d5d5, #eeeeee);
background: linear-gradient(to right, #d5d5d5 , #eeeeee);
}

th{
text-align: center;
height: 100px;
}

tr{
border-bottom: 1px solid lightgray;
height: 25px;
text-align: center;
}

td{
padding-top: 5px;
padding-bottom: 5px;
font-size: 13px;
}

#firstColumn{
width: 36%;
text-align: left;
padding: 0px;
margin: 0px;
}
#thFirstRowText p{
padding: 0px;
margin: 0px;
padding-left: 10px;
}

#thFirstRowTopText p{
font-size: 24px;
font-family: OpenSans-Regular;
padding: 0px;
margin:0px;
margin-top: -7px;
padding-left: 10px;
}


#secondColumn{
width: 10%;
font-size: 22px;
font-family: OpenSans-Regular;
}

#thirdColumn{
width: 16%;
background: #c7c7c7;
}

.priceHeader p{
font-size: 24px;
padding: 0px;
margin: 0px;
font-family: OpenSans-Bold;
}

#fourthColumn{
width: 16%;
font-size: 22px;
font-family: OpenSans-Bold;
}

#fifthColumn{
width: 16%;
font-size: 22px;
font-family: OpenSans-Bold;
background: #c7c7c7;
}

.moneySaving p{
font-size: 12px;
margin-top: -5px;
padding: 0px;
color: #f54f4f;
}

td:nth-child(5n+1){
padding-left: 10px;
text-align: left;
}

td:nth-child(5n+3){
background: #c7c7c7;
}

td:nth-child(5n+5){
background: #c7c7c7;
}

.tickInTableData{
background: url("MEDIA/tickIcon.svg") no-repeat;
background-size:auto;
width: 20px;
height: 20px;
margin: auto;
}

/*--Three sections --*/
#holderForThreeSectionWithCircles{
max-width: 100%;
width: 1206px;
display: flex;
margin: auto;
}

.sectionWithCircle{
width: 34%;
height: auto;
background-color: #353535;
border-top: 15px solid black;
}

#middleSectionWithCircel{
margin-left: 0.2%;
margin-right: 0.2%;
}

.circleSatisfactionQuickPremium{
margin-top: 25px;
margin-bottom: 25px;
margin-left: 5%;
width: 30%;
height: auto;
}

.textNextToTheThreeCircles{
width: 63%;
padding-left: 3%;
padding-right: 3%;
float: right;
}

.textNextToTheThreeCircles h5{
color: white;
padding-top: 30px;
padding-bottom: 3px;
margin: 0;
}

.textNextToTheThreeCircles h6{
color: white;
font-size: 11px;
padding-bottom: 10px;
margin: 0;
}

.textNextToTheThreeCircles p{
font-size: 11px;
color: #cecece;
}

/* =================================================
        RECENT FEEDBACK FROM HERE
=================================================== */

#feedbackHolder{
  background-color: #000000;
  width:100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

#contentFeedbackHolder h2{
  font-family: OpenSans-SemiBold;
  font-size: 42.6px;
  margin: 0;
  color:#ffffff;
}

#contentFeedbackHolder h4{
  font-family: OpenSans-Light;
  font-size: 19px;
  color:#ffffff;
}

#contentFeedbackHolder p{
  color:#ffffff;
}

#contentFeedbackHolder{
  max-width: 100%;
  width:1206px;
  height:auto;
  margin:50px auto 50px auto;
  color: #ffffff;

}

#dialogueBubble{
  margin: 0 auto;
  display: block;
  width:5%;
  height:5%;
}

#contentFeedbackHolder h2{
  font-family: OpenSans-SemiBold;
  font-size: 42.6px;
  margin: auto;
  text-align: center;
}

#contentFeedbackHolder h4{
  font-family: OpenSans-Light;
  font-size: 19px;
  margin: auto;
  text-align: center;
}

#smallerBoxFeedback{
  width:69%;
  margin:15px auto;
}

#ratingSentence{
  color: #bcbcbc;
}
#ratingSentence:after{
  display: inline-block;
  content: "";
  width:101px;
  height:19px;
  background: url("./MEDIA/ratingStars.jpg") no-repeat;
  background-size: cover;
}

#quotesContainer{
  width:82%;
  display: flex;
  display: row;
  justify-content: center;
  margin: auto;
}

#quotesContainer > div {
  flex:1;
}

#quotesContainer div:nth-child(2){
  margin-left: 5%;
  margin-right: 5%;
}

/* =================================================
        WHERE ARE WE FROM HERE
=================================================== */

#whereAreWeHolder{
  width:100%;
  background-color: #ffffff;
}

#whereAreWeContentHolder{
  max-width: 100%;
  overflow: auto;
  display: block;
  height: auto;
  width:1206px;
  margin: auto;
  background: url(./MEDIA/whereAreWe.jpg) no-repeat;
  background-size: auto 100%;
    background-position: center;
}

#whereAreWeSideTextBox{
  width:35%;
  height:100%;
  background-color: rgba(255,255,255,0.6);
}

#whereAreWeSideTextBox h2{
  font-family: OpenSans-SemiBold;
  font-size: 42.6px;
  margin-bottom:0;
  margin-top: 5px;
}

#whereAreWeSideTextBox h4{
  font-family: OpenSans-Light;
  font-size: 19px;
  margin-top:0;
}

#whereAreWeSideTextBox p{
  margin: 0;
}

#whereAreWeSideTextBox ul{
columns: 3;
-webkit-columns: 3;
-moz-columns: 3;
padding: 0;
font-size: 13px;
line-height: 25px;
}


#whereAreWeSideTextBox ul li:before{
content: "";
display: block;
background: url("MEDIA/tickIconRed.svg") no-repeat;
width: 12px;
height: 12px;
float: left;
margin: 10px 6px 0px 0px;
}

#whereAreWeSideTextBox ul li{
list-style-type: none;
}

#whereAreWeSideTextBox li{
  margin:0;
}

#whereAreWeSideTextBox ul li:before{
content: "";
display: block;
background: url("MEDIA/tickIconRed.svg") no-repeat;
width: 12px;
height: 12px;
float: left;
margin: 10px 6px 0px 0px;
}

#findOutMoreButton{
  margin: 20px 0px 55px 0px;
  height:30px;
  border:2px solid #000000;
  width: 175px;
  border-radius: 25px 25px;
  transition: all 0.5s;
  display: inline-block;
}

#findOutMoreButton:active{
  transform: scale(0.8);
}

#findOutMoreButton p{
  color: #000000;
  font-family: OpenSans-Bold;
  font-size: 15px;
  margin:0;
  padding: 3px 5px 5px 10px;
  transition: all 0.5s;
}

#findOutMoreButton p:after{
    content: "";
    background: url("MEDIA/arrowRigth.svg") no-repeat;
    float: right;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 0 #000000;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    transition-delay: 0.2s;
}

#findOutMoreButton:hover{
    box-shadow: inset 180px 0px 0 0 #000000;
    cursor: pointer;
}

#findOutMoreButton:hover p{
  color:#ffffff;
}

#findOutMoreButton:hover p:after{
  background: url("MEDIA/arrowWhite.svg") no-repeat;
}

/* =================================================
        CONTACT US FROM HERE
=================================================== */

#contactUsHolder{
  width:100%;
  background-color: #f34947;
  padding: 0;
}

#topLineContact{
  width: 100%;
  margin:0;
  padding: 0;
  position: absolute;
}


#contactUsContentHolder{
  max-width: 100%;
  width:1206px;
  margin:auto;
  height:auto;
  display: flex;
  justify-content: space-between;
}

#contactUsLeftBlock{
  display:inline-block;
  width:33%;
}

#contactUsLeftBlock h2{
  font-family: OpenSans-SemiBold;
  font-size: 35px;
  margin-bottom:50px;
  margin-top: 50px;
}

#contactUsLeftBlock p{
  margin-bottom: 30px;
}

.contactUsSocialMedia{
  height: 30px;
  display:inline;
  margin-right:5%;
}

#contactUsRightBlock{
  width:60%;
  height:450px;
}

#contactUsRightBlock p{
  color: #000000;
}

#haveAProjectHolder{
  width: 45%;
  margin-top:40px;
  background-color: #000000;
  font-family: OpenSans-SemiBold;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#haveAProjectHolder h2{
  color:#f34947;
  font-family: OpenSans-SemiBold;
  font-size: 35px;
  margin:10px 0 10px 0;
}

#formBoxes{
  width:100%;
  height:145px;
  display: flex;
  justify-content: space-around;
}

#contactUsLeftBoxes{
  width:24%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#contactUsMiddleBoxes{
  width:50%;
}

#contactUsRightBoxes{
  width:24%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.contactUsInput{
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  color: black;
  border: 2px solid #000000;
  height:42px;
  padding-left: 2%;
  transition: all 1s;
  box-shadow: inset 0px 0px 0 0 #000000;

}

.contactUsInput::-webkit-input-placeholder {
color: #000000 !important;
font-family: OpenSans-Regular;
margin-left: 2%;
transition: all 1s;
}

.contactUsInput:-moz-placeholder { /* Firefox 18- */
color: #000000 !important;
font-family: OpenSans-Regular;
margin-left: 2%;
transition: all 1s;
}

.contactUsInput::-moz-placeholder {  /* Firefox 19+ */
color: #000000 !important;
font-family: OpenSans-Regular;
margin-left: 2%;
transition: all 1s;
}

.contactUsInput:-ms-input-placeholder {
color: #000000 !important;
font-family: OpenSans-Regular;
margin-left: 2%;
transition: all 1s;
}

.contactUsInput:focus{
  box-shadow: inset 180px 0px 0 0 #000000;
  color: #fa5e5c;
  outline: none;
}

.contactUsInput:focus::-webkit-input-placeholder{
  color: #fa5e5c !important;
  transition: all 1s;
}

#messageContactUs{
  height:100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid black;
  resize: none;
  padding-left: 2%;
  padding-top: 2%;
  padding-right: 2%;
}

#messageContactUs::-webkit-input-placeholder {
color: #000000 !important;
font-family: OpenSans-Regular;
margin-left: 2%;
transition: all 1s;
}

#messageContactUs:-moz-placeholder { /* Firefox 18- */
color: #000000 !important;
font-family: OpenSans-Regular;
margin-left: 2%;
transition: all 1s;
}

#messageContactUs::-moz-placeholder {  /* Firefox 19+ */
color: #000000 !important;
font-family: OpenSans-Regular;
margin-left: 2%;
transition: all 1s;
}

#messageContactUs:-ms-input-placeholder {
color: #000000 !important;
font-family: OpenSans-Regular;
margin-left: 2%;
transition: all 1s;
}

#messageContactUs:focus{
  outline: none;
}

#topEqua{
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonContactUs{
  background: rgba(0, 0, 0, 0);
  border: 2px solid #000000;
  height:42px;
  width:50%;
  color: #000000;
}



/*=========================================
    OUR WORK TEXT AND GALLERY  FROM HERE
===========================================*/


#holderForOurWorkTextAndGallery{
width: 1206px;
max-width: 100%;
height: auto;
margin: auto;
margin-top: 30px
}


#holderForOurWorkText{
width: 100%;
display: inline-block;
margin-bottom: 50px;
margin-top: 30px;
}

#leftSideWork{
width: 24%;
margin-left: 16%;
padding-right: 0%;
border-right: 2px solid black;
display: block;
float: left;
}



#leftSideWork h2{
margin-top: 0px;
font-size: 40px;
font-family: OpenSans-SemiBold;
}


#rightSideWork{
width: 40%;
margin-left: 5%;
display: block;
float: left;
}
#rightSideWork p{
 font-size: 12px;
}


#galleryHolder{
width: 1206px;
max-width: 100%;
height: auto;
margin: auto;
display: block;
overflow: hidden;
}

#leftGalleryDiv{
width: 53.4%;
height: auto;
display: block;
float: left;
}

#rightGalleryDiv{
width: 46.6%;
height: auto;
display: block;
float: left;
}

#topImageGallery, #bottomImageGallery, #rightGalleryDiv{
background: black;
position: relative;
text-align: center;
vertical-align: middle;
}

.textOnAnImageGallery{
visibility: hidden;
z-index: 33;
font-size: 40px;
font-family: OpenSans-Regular;
color: white;
width: 100%;
margin: 0px;
padding: 0px;
}

.holderForTextOnImages{
position: absolute;
top: 40%;
width: 100%;
text-align: center;
height: 70px;
margin: auto;
}

.websiteLinkGalleryText{
visibility: hidden;
position: absolute;
font-size: 20px;
font-family: OpenSans-Regular;
z-index: 33;
width: 100%;
margin: 0px;
padding: 0px;
}

.imagesInLeftGallerClass, #rightImageGallery{
width: 100%;
height: auto;
opacity: 1;
}

#topImageGallery:hover .imagesInLeftGallerClass, #bottomImageGallery:hover .imagesInLeftGallerClass, #rightGalleryDiv:hover #rightImageGallery{
opacity: 0.3;
}

#topImageGallery:hover h2, #bottomImageGallery:hover h2, #rightGalleryDiv:hover h2{
visibility: visible;
}

#topImageGallery:hover h6, #bottomImageGallery:hover h6{
visibility: visible;
color: #fa7218;
}

#rightGalleryDiv:hover h6{
visibility: visible;
color: #53bede;
}

#ulForGalleryImageChanging{
list-style-type: none;
text-align: center;
margin: 0px;
padding: 0px;
margin-bottom: 15px;
}

#ulForGalleryImageChanging li{
display: inline;
padding-left: 30px;
padding-right: 30px;
font-family: OpenSans-SemiBold;
cursor: pointer;
}

#ulForGalleryImageChanging li:hover{
color: #d9413f;
}


#ulForGalleryImageChanging .leftArrowForChangingTheGalleryImage, #ulForGalleryImageChanging .rightArrowForChangingTheGalleryImage{
padding-left: 0px;
padding-right: 0px;
}

#ulForGalleryImageChanging a{
text-decoration: none;
}


#ulForGalleryImageChanging a:hover{
text-decoration: none;
cursor: crosshair;
}

.activeListGallery{
color: #d9413f;
}



/*========================================
        LOGO SLIDER FOMR HERE - FLEXISEL
===========================================*/
#holderForTheLogosSlider{
max-width: 100%;
width: 1206px;
min-height: 170px;
height: auto;
margin: auto;
text-align: center;
margin-top: 50px;
}

#ourBrandsDesktop{
display: block;
}

#ourBrandsPhone{
display: none;
}

#hsixOnLogosSlider{
margin-bottom: 30px;
}

#hsixOnLogosSliderPhone{
display: none;
}

.clearout {
height:20px;
clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;
    text-align:center;
    overflow: auto;
}

.nbs-flexisel-inner {
    position: relative;
    overflow: hidden;
    float:left;
    width:100%;
    background:white;
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    max-width: 100%;
    height: 50px;
    width: auto;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    filter: grayscale();
}

.nbs-flexisel-item img:hover{
    filter: none;
}

#packshotsdirectLogo{
margin-top: 5px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    padding:5px 10px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    position: absolute;
    cursor: pointer;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: #fff;
}

.nbs-flexisel-nav-left {
    left: 10px;
}

.nbs-flexisel-nav-left:before {
    content: "<"
}

.nbs-flexisel-nav-left.disabled {
    opacity: 0.4;
}

.nbs-flexisel-nav-right {
    right: 5px;
}

.nbs-flexisel-nav-right:before {
    content: ">"
}

.nbs-flexisel-nav-right.disabled {
    opacity: 0.4;
}






/*========================================
        FOOTER FROM HERE 
===========================================*/
#desktopVersionFooter{
width: 100%;
height: 70px;
background-color: #d9413f;
display: block;
}

#smallVersionFooter{
display: none;
}

#footerHolderInner{
width: 1206px;
max-width: 100%;
height: 70px;
margin: auto;
}

#footerHolderInner p{
height: 20px;
padding-top: 25px;
display: inline-block;
padding-right: 30px;
}

footer ul{
list-style-type: none;
display: inline-block;
padding: 0px;
margin: 0px;
}

footer ul li{
display: inline-block;
padding: 0px 10px 0px 10px;
}

#footerLogo{
float: right;
width: 100px;
padding-top: 28px;
}



/*<>>><><><><><><><><><><><><><><><><><><><><><><><><><>
            DEVELOPMENT NEW PAGE FROM HERE
<><><><><><><<><><><><><><<><><><><><><><><><><><><><<><>*/

#developmentHeaderImage{
width: 100%;
height: 600px;
background: url('MEDIA/digitalPrintDevelopmentSections/Ocip-development-Services.jpg') no-repeat;
opacity: 0.9;
background-size: cover;
background-position: center;
border-bottom: 5px solid black;
}

.developmentHeaderMainTextHolder{
width: 1206px;
max-width: 100%;
margin: auto;
padding: 0;
}

.developmentHeaderMainTextHolder h1{
font-family: OpenSans-Light;
font-size: 50px;
color: white;
padding: 0;
margin: 0;
padding-top: 275px;
}

.developmentBoldMainText{
font-family: OpenSans-SemiBold;    
}

.developmentRegularMainText{
font-family: OpenSans-Light;     
}

#topGalleryHolder{
width: 100%;
height: auto;
display: block;
overflow: auto;
background-color: #ebebeb;
}

#topLeftHolder{
width: 50%;
height: auto;
background-color: white;
display: inline-block;
float: left;
padding: 30px;
padding-top: 0px;
}

#topLeftHolder h2{
font-family: OpenSans-SemiBold;
font-size: 40px;
}

#topLeftHolder p{
padding-top: 25px;
}

#topRightHolder, #bottomLeftHolder, #bottomRightHolder{
width: 50%;
display: inline-block;
float: left;
}

#topRightHolder img, #bottomLeftHolder img ,#bottomRightHolder img{
width: 100%;
height: auto;
}

#bottomGalleryHolder{
width: 100%;
height: auto;
}

#visitWebsiteButton{
width: 160px;
margin-top: 50px;
color: black;
border: 2px solid black;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
box-shadow: inset 0 0 0 0 #000000;
transition: all 0.5s;
}

#visitWebsiteButton p:after{
  content: "";
    display: block;
    background: url("MEDIA/arrowRigth.svg") no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0px 6px 0px 10px;
    transition-delay: 0.2s;
    transition: all 0.5s;
}


#visitWebsiteButton p{
    margin: 0px;
    padding: 5px 5px 5px 10px;
    font-family: OpenSans-Bold;
    font-size: 15px;
    color: black;
}

#visitWebsiteButton:hover{
    cursor: pointer;
    box-shadow: inset 180px 0px 0 0 #fff;
}

#visitWebsiteButton:hover p:after{
background: url("MEDIA/arrowRightRed.svg") no-repeat;
}



/*<>>><><><><><><><><><><><><><><><><><><><><><><><><><>
            ALL GALERIES NEW PAGE FROM HERE
<><><><><><><<><><><><><><<><><><><><><><><><><><><><<><>*/

#allHeaderImage{
width: 100%;
height: 600px;
background: url('MEDIA/digitalPrintDevelopmentSections/ocip-all-galleries.jpg') no-repeat;
opacity: 1;
background-size: cover;
background-position: center;
border-bottom: 5px solid black;
}