@font-face {
    font-family: Allura;
    src: url(./FONTS/Allura-Regular.ttf);
}

@font-face {
    font-family: LuckiestGuy;
    src: url(./FONTS/LuckiestGuy-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(./FONTS/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-BoldItalic;
    src: url(./FONTS/OpenSans-Italic.ttf);
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(./FONTS/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: OpenSans-ExtraBoldItalic;
    src: url(./FONTS/OpenSans-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: OpenSans-Italic;
    src: url(./FONTS/OpenSans-Italic.ttf);
}

@font-face {
    font-family: OpenSans-Light;
    src: url(./FONTS/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans-LightItalic;
    src: url(./FONTS/OpenSans-LightItalic.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(./FONTS/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-SemiBold;
    src: url(./FONTS/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: OpenSans-SemiBoldItalic;
    src: url(./FONTS/OpenSans-SemiboldItalic.ttf);
}




body{
width:100%;
margin:0;
font-family: OpenSans-Regular;
}

p{
font-size: 13px;
}

/* Navigation bar
THE NAV BAR IS GOING TO BE THE PART OF THE BAR THAT EXTENDS EG: BACKGROUND*/

nav {
  background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(62,61,61) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(62,61,61) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(62,61,61) 100%);
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  width:100%;
  height: 108px;
  margin:0;
  border-bottom: solid 3px #d11432;
}

/*Nav Content IS THE PART OF THE NAVIGATION BAR THAT DOESNT EXTEND EG: TEXT, IMAGES*/
#navContent{
  position: relative;
  top:22px;
  max-width: 100%;
  width: 1206px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

#leftSideNav{
  margin-left:10px
}

#rightSideNav{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  width:230px;
  margin-right: 10px;
}

#burgerLogo{
  height:29px;
}

.socialMediaIcons{
  height:23px;
}






/* =================================================
        LET'S GET STARTED FROM HERE
=================================================== */

#letsGetStartedHolder{
    width: 100%;
    background-color: #f34947;
    margin-top: 200px;
    height: auto;
}


#letsGetStartedHolderInner{
    max-width: 100%;
    width: 1206px;
    margin: auto;
    overflow: auto;
    text-align: center;
    height: 550px;
}

#letsGetStartedHolderInner h2{
    font-size: 42.6px;
}

#letsGetStartedHolderInner h4{
    margin-top: -35px;
    font-size: 19px;
    margin-bottom: 100px;
}

.threeDivsInsideLetsGetStarted{
    width: 29.9%;
    height: 250px;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    text-align: left;
}

#firstDivInsideThreeDivs{
     border-right: 4px solid black;
}

#secondDivInsideThreeDivs{
    border-right: 4px solid black;
    width: 29.5%;
    margin-left: 4.5%;
    margin-right: 4.8%;
}




.circleForThreeDivs {
-moz-border-radius: 50px/50px;
-webkit-border-radius: 50px 50px;
border-radius: 50px/50px;
border: solid 2px black;
width: 25px;
height: 25px;
position: absolute;
left: -1px;
}

.textNextToCircle{
position: absolute;
left: 7px;
top: -24px;
}

.textNextToCircle p{
font-family: OpenSans-Bold;
font-size: 22px;
}

.textInsideTheThreeDivs{
position: absolute;
font-size: 13px;
left: 0px;
top: 30px;
margin-right: 30px;
}

.buttonFindOutMoreInThreeDivs{
position: absolute;
bottom: -30px;
left: 0px;
border: 2px solid black;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
}


.buttonFindOutMoreInThreeDivs:hover{
    cursor: pointer;
}

.buttonFindOutMoreInThreeDivs p{
    margin: 0px;
    padding: 5px 5px 5px 10px;
    font-family: OpenSans-Bold;
    font-size: 15px;
}

.buttonFindOutMoreInThreeDivs p:after{
   content: "";
    display: block;
    background: url("MEDIA/arrowRigth.svg") no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0px 6px 0px 10px;
}

.printerIcon{
 width: 70px;
height: 70px;
position: absolute;
left: 220px;
top: -42px;
}

/* ----------- HIDEN DIV ----------- */

#hiddenDivForGetStarted{
<<<<<<< HEAD
width: 100%;
height: 400px;
background: #ee4745;
background: -webkit-linear-gradient(#ee4745, #c43737);
background: -o-linear-gradient(#ee4745, #c43737);
background: -moz-linear-gradient(#ee4745, #c43737);
background: linear-gradient(#ee4745, #c43737);
=======
width: 100%;    
height: 500px;
background: #ee4745; 
background: -webkit-linear-gradient(#ee4745, #c43737); 
background: -o-linear-gradient(#ee4745, #c43737); 
background: -moz-linear-gradient(#ee4745, #c43737); 
background: linear-gradient(#ee4745, #c43737); 
>>>>>>> d4a4d2b1145607f424e98bc6f15a75960ed92faa
}

#innerHolderForHidden{
width: 1206px;
margin: auto;
margin-top: 6px;
height: 300px;
max-width: 100%;
}

#twoThirdsOfTheInnerHolder{
width: 66%;
height: 200px;
float: left;
margin-right: -4px;
}

#twoThirdsOfTheInnerHolder h2{
     font-size: 42.6px;
}

#twoThirdsOfTheInnerHolder h4{
font-size: 19px;
margin-left: 3px;
margin-top: -30px;
}

#oneThirdOfTheInnerHolder{
width: 34%;
height: 200px;
float: left;
margin-right: -4px;
}

ul{
columns: 2;
-webkit-columns: 2;
-moz-columns: 2;
padding: 0;
line-height: 210%;
font-size: 15px;
}

ul li{
list-style-type: none;
margin-right: 25px;    
}

ul li:before{
content: "";
display: block;
background: url("MEDIA/tickIcon.svg") no-repeat;
width: 12px;
height: 12px;
float: left;
margin: 10px 6px 0px 0px;
}

.pencilIcon{
margin-top: 100px;
margin-left: 50px;
width: 300px;
height: 450px;
}

/* =================================================
        OUR PROCESS FROM HERE
=================================================== */

#ourProcessHolder{
  background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(43,42,42) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(43,42,42) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(43,42,42) 100%);
  width:100%;
  height: auto;
}

#contentBoxProcess{
  max-width: 100%;
  width:1206px;
  height:auto;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

#topPartProcess{
  display:inline-block;
}

#leftSideProcess {
  border-right: solid 2px #ffffff;
  width:25%;
  float:left;
}

#leftSideProcess > h2 {
  color: #ffffff;
  font-size: 42.6px;
  font-family: OpenSans-SemiBold;
  margin:0;
}

#leftSideProcess > h4 {
  color: #ffffff;
  font-size: 19px;
  font-family: OpenSans-Light;
  margin:0;
}

#rightSideProcess{
  position: relative;
  top: 15px;
  width:50%;
  float:left;
  margin-left: 2%;
}

#rightSideProcess p {
  margin: auto;
  color: #ffffff;
}

#middlePartProcess{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

#middlePartProcess > div{
  width: 25%;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 50px;
}

#middlePartProcess > img {
  position: relative;
  right:0;
}

#middlePartProcess > div img{
  float: right;
}


#middlePartProcess p{
  color: #ffffff;
}

.numberProcess{
  font-size: 35pt;
  color: #b5122c;
  font-family: OpenSans-Bold;
}

.titleBoxProcess{
  font-size: 25pt;
  font-family: OpenSans-SemiBold;
  margin-left: 1%;
}

#enquireNowButton{
  margin: 20px 0 20px 0;
  height:30px;
  position: relative;
  border:2px solid #ffffff;
  width: 175px;
  left:75%;
  border-radius: 25px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

#enquireNowButton p{
  color: #ffffff;
  font-family: OpenSans-Bold;
  font-size: 15px;
  margin:0;
  padding: 5px 5px 5px 10px;
  transition: all 0.5s;
}

#enquireNowButton p:after{
   content: "";
    background: url("./MEDIA/arrowWhite.svg") no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0px 6px 0px 10px;
    box-shadow: inset 0 0 0 0 #ffffff;
	  -webkit-transition: all ease 0.8s;
	  -moz-transition: all ease 0.8s;
	  transition: all ease 1s;
    transition-delay: 0.2s;
}

#enquireNowButton:hover{
    box-shadow: inset 180px 0px 0 0 #ffffff;
    cursor: pointer;
}

#enquireNowButton:hover p{
  color:#000000;
}

#enquireNowButton:hover p:after{
  background: url("MEDIA/arrowRigth.svg") no-repeat;
}

/* =================================================
        WHY CHOOSE US FROM HERE
=================================================== */

#whyUsHolder{
  background-color: #fdfdfd;
  width: 100%;
  height:auto;
}

#contentHolderWhyUs{
  max-width: 100%;
  width:1206px;
  height:1000px;
  margin:50px auto 50px auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

#topLeftWhyUs{
  width:33%;
  height:auto;
}

#topLeftWhyUs h2{
  font-family: OpenSans-SemiBold;
  font-size: 42.6px;
  margin: 0;
}

#topLeftWhyUs h4{
  font-family: OpenSans-Light;
  font-size: 19px;
  margin: 0;
}

#topLeftWhyUs p{
  margin:10px auto auto auto;
}

#topLeftWhyUs img{
  float:right;
}



#topRightWhyUs{
  width:66%;
  height:100px;
}

#getInTouchButton{
  margin: 20px 0 20px 0;
  height:30px;
  border:2px solid #000000;
  width: 175px;
  border-radius: 25px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  display: inline-block;
}

#getInTouchButton p{
  color: #000000;
  font-family: OpenSans-Bold;
  font-size: 15px;
  margin:0;
  padding: 5px 5px 5px 10px;
  transition: all 0.5s;
}

#getInTouchButton p:after{
   content: "";
    background: url("./MEDIA/arrowRigth.svg") no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0px 6px 0px 10px;
    box-shadow: inset 0 0 0 0 #000000;
	  -webkit-transition: all ease 0.8s;
	  -moz-transition: all ease 0.8s;
	  transition: all ease 1s;
    transition-delay: 0.2s;
}

#getInTouchButton:hover{
    box-shadow: inset 180px 0px 0 0 #000000;
    cursor: pointer;
}

#getInTouchButton:hover p{
  color:#ffffff;
}

#getInTouchButton:hover p:after{
  background: url("MEDIA/arrowWhite.svg") no-repeat;
}
