@media screen and (max-width: 600px) {

@viewport{
      zoom: 1.0;
      width: device-width;
  }

body{
  width: 100%;
}

p {
  font-size: 12px;
}

.desktopImage{
  display: none !important;
}

.mobileImage{
display:block !important;
margin-top: -30px;
}

    
    
    
    
/* ===================================================
                NAVIGATION MENU FROM HERE
====================================================*/
    #leftSideNav{
        margin-left: 5%;
    }
#leftSideNav img{
  width: 100%;
}

#rightSideNav > object{
  display: none;
}

#burgerLogoHolder{
  position: relative;
  right: -40%;
}

.navMenuPopUpWindowOpen{
width: 100%;
right: 0px;
}

.navMenuPopUpWindowOpen{
width: 100%;
right: 0px;
border-radius: 0px 0px 4px 4px;
}

.contactUsSocialMediaNav{
height: 30px;
display:inline;
margin-right: 8%;
}

.socialIconsNavMenu{
display: block;
}

/*.burgerLogoHolderClass:hover{
background: url('MEDIA/navMenuIconDarkRed.png') no-repeat;
background-position: 24px 10px;
background-color: black;
opacity: 0.8;
background-size: 35% 20%;
border-radius: 10px 10px 0px 0px;
}*/

.triangleDownIconClass{
display: none;
width: 15px;
height: 15px;
margin-top: 35px;
margin-left: 38px;
}

/*.burgerLogoHolderClass:hover .triangleDownIconClass{
display: block;
}*/

/*================================================
            HEADER FROM HERE - 4 IMAGES
==================================================*/
    #watchVideoGarySlideButton{
     margin: auto;
    }
    
    
#pOnHeaderIMageONe{
  font-size: 15px;
}

.holderOnHeader{
  width: 90%;
  margin:auto;
  text-align: left;
  position: relative;
  top: -20px;
}

#imageOnSLideOne{
  width:100%;
}

#skyLimitText{
  margin-left: 0;
  font-size: 45px;
}

.carousel-indicators{
    width: 30%;
    left: 0%;
    margin-left: 35%;
}

#headerThreeImage{
background-position: left;
}

#startupText{
font-size: 5vh;
}

#headerOneImage, #headerTwoImage, #headerThreeImage, #headerFourImage{
height: 100vh;
}

/* =================================================
        WHO ARE WE?
=================================================== */
#wAwButton{
margin: 30px auto 50px auto;
}
#wAwHolder{
background-position: center;
}

#wAwArrowDown{
width:15%;
margin-left: 42.5%;
margin-bottom: 20px;
}

#wAwContentHolder{
width: 90%;
margin-left: 5%;
text-align: left;
}
    
#whoAreWeh2Desktop{
    display: none;
    font-size: 40px;
    font-family: OpenSans-SemiBold;
    margin-left: 1%;
    text-align: left;
}
    
    #whoAreWeh2Phone{
    display: block;
    font-size: 70px;
    font-family: OpenSans-SemiBold;
    margin-left: 1%;
    text-align: left;
    }

#wAwContentHolder h4{
    font-size: 33px;
     margin-left: 1%;
    text-align: left;
    margin-bottom: 40px;
}

#wAwContentHolder p{
width: 100%;
}
/* =================================================
        LET'S GET STARTED FROM HERE
=================================================== */
    
    #letsGetStartedHolderPhone{
    display: block;
    width: 100%;
    background-color: #f34947;
    margin-top: 0px;
    height: auto;
    }
    
    #letsGetStartedHolderDesktop{
        display: none;
    }
    #numberThreeDevelopmentText{
        margin-top: 60px;
    }
    
    #thirdDivInsideThreeDivs.developePhoneClass{
        height: 390px;
    }
    
#letsGetStartedHolderInner{
  height:auto;
  padding-top: 120px;
overflow: hidden;
}

#letsGetStartedHolderInner h2{
display: none;
}
    
#letsGetStartedHolderInner h4{
display: none;
}

.threeDivsInsideLetsGetStarted{
  width:100%;
  margin-right: 0px;
    margin-left: 0px;
}

.circleForThreeDivs{
  display: none;
}

#firstDivInsideThreeDivs{
  border: 0px;
}
    
    #developmentText{
        margin-top: 60px;
    }

.printerIcon{
  position: relative;
  display: block;
  margin: auto;
  top:-60px;
  left: 0;
margin-bottom: 20px;
}
    
    #developmentParagraphPhoneText{
    margin-top: 30px !important;
    }
    
.developmentIcon{
width: 20%;
position: relative;
    display: block;
  margin: auto;
left: 0;
top: -20px;
margin-bottom: 40px;
}

.textNextToCircle{
  top:19px;
  width: 98%;
  text-align: center;
  left: 0;
}

.textNextToCircle p{
margin-top: 20px;
}
    

.circleAroundNumber{
  border: 2px solid #000000;
  border-radius: 25px;
  padding: 0px 10px 0px 10px;
}

.circleForThreeDivs{
  left:0;
  top:34px;
}

.textInsideTheThreeDivs{
 width: 90%;
 margin-right: 0px;
 margin-left: 0px;
 margin: auto;
position: static;
display: block;
text-align: left;
}
    
.textInsideTheThreeDivs p{
    margin-bottom: 40px;
}


.buttonFindOutMoreInThreeDivs{
  position: static;
  width: 180px;
  margin: auto;
}

#secondDivInsideThreeDivs{
  margin:50px auto auto auto;
  width:100%;
  top:50px;
  border: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#brushIcon{
  position: relative;
  top:-50px;
margin-bottom: 40px;
}

#thirdDivInsideThreeDivs{
  margin-top: 100px;
width: 100%;
}

.pencilIcon{
  display: none;
}

#oneThirdOfTheInnerHolder{
  position: absolute;
  right:0;
}

    #printHiddenDivForGetStarted, #digitalHiddenDivForGetStarted, #developmentHiddenDivForGetStarted{
display: none;
    }   


#hiddenDivForGetStartedPrintPhone, #hiddenDivForGetStartedDigitalPhone, #hiddenDivForGetStartedDevelopmentPhone{
display: none;
width: 100%;
height: 750px;
border: none;
background: #ee4745;
background: -webkit-linear-gradient(#ee4745, #c43737);
background: -o-linear-gradient(#ee4745, #c43737);
background: -moz-linear-gradient(#ee4745, #c43737);
background: linear-gradient(#ee4745, #c43737);
background: -moz-linear-gradient(#ee4745, #c43737);
background: linear-gradient(#ee4745, #c43737);
}
    
    #hiddenDivForGetStartedDevelopmentPhone{
        height: 650px;
    }

    
#twoThirdsOfTheInnerHolder{
width:90%;
margin-left: 5%;
 text-align: left;
}

#twoThirdsOfTheInnerHolder h2{
  font-size: 36px;
    margin-top:  60px;
 display: block;
}
    
    #twoThirdsOfTheInnerHolder h4{
        display: block;
        margin-bottom: 20px;
    }

.listInHidenGetStarted{
  margin-left: 0%;
  margin-right:0%;
}

.buttonContactUsHiddenDiv{
  margin:auto;
}

.closeHiddenDivButton{
  margin-right: 45%;
margin-top: 70px;
}

/* =================================================
        OUR PROCESS FROM HERE
=================================================== */

#leftSideProcess{
  border: 0px;
  width:90%;
  text-align: left;
margin: auto;
  float: none;
}

#rightSideProcess{
  position: static;
  width:90%;
  margin: 10px auto auto auto;
  float: none;
  text-align: left;
}

#middlePartProcess > div{
  width:90%;
  margin:auto;
}

#enquireNowButton{
  position: static;
  margin: auto;
  margin-bottom: 30px;
margin-top: 20px;
}

/* =================================================
        WHY CHOOSE US FROM HERE
=================================================== */

#topLeftWhyUs{
  width: 90%;
  margin: auto;
}

#contentHolderWhyUs{
  margin: 50px auto 0px auto;
}

#topLeftWhyUs img{
  display: none;
}

#getInTouchButton{
  display: block;
  margin: 30px auto auto auto;
}

#middleLeftWhyUs img{
  width:100%;
}

#middleLeftWhyUs{
  width: 90%;
  margin: auto;
}

#middleRightWhyUs{
  width:90%;
}

#middleRightWhyUs h2{
  text-align: center;
  margin-bottom: 5px;
}

#middleRightWhyUs img {
  display: none;
}

#middleRightWhyUs img{
  display: block;
  width: 100%;
}

#ourWorkButton{
  margin: 10px auto;
  display: block;
  float: none;
}

#bottomLeftWhyUs{
  width:90%;
  margin:0;
}

#bottomLeftWhyUs h2{
  margin-bottom:10px;
}

#bottomLeftWhyUs #enquireWhyUsButton{
  margin: 20px auto 40px auto;
}
    
#topRightWhyUs img{
  width:100%;
}

#topRightWhyUs{
width: 95%;
margin-left: 2.5%;
}


/*=========================================
            OUR FEEDBACK FROM HERE
==========================================*/
#smallerBoxFeedback{
  width:100%;
  margin:0;
}


/*================================================
                OUR RATES FROM HERE
=================================================*/

#tableHolder{
  display: none;
}

#holderOurRatesRightSideHeader{
  display: none;
}

#ourRatesHeaderHolder{
  width:70%;
  margin:auto;
  border:0px;
  text-align: left;
  display: inline-block;
}
    
#ourRatesHeaderHolder p{
margin-bottom: 20px;
}

#holderOurRatesLeftSideHeader{
  width:90%;
  margin:auto;
  float:none;
  padding: 0;
}

    #textUnderPriceTag{
        margin-bottom: -15px;
    }

#innerHolderForOurRates{
  padding-top: 10px;
}

#downloadButton{
  margin: 50px auto;
  height:30px;
  border:2px solid #000000;
  width: 175px;
  border-radius: 25px 25px;
  transition: all 0.5s;
text-decoration: none;
}

#downloadButton:active{
  transform: scale(0.8);
}

#downloadButton p{
  color: #000000;
  font-family: OpenSans-Bold;
  font-size: 15px;
  margin:0;
  padding: 3px 5px 5px 10px;
  transition: all 0.5s;
}

#downloadButton p:after{
   content: "";
    background: url("./MEDIA/arrowRigth.svg") no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0px 6px 0px 10px;
    box-shadow: inset 0 0 0 0 #fff;
	  -webkit-transition: all 1s;
	  -moz-transition: all 1s;
	  transition: all 1s;
    transition-delay: 0.2s;
}

#downloadButton:hover{
    box-shadow: inset 180px 0px 0 0 #fff;
    cursor: pointer;
}

#downloadButton:hover p{
  color:#000;
}

#downloadButton:hover p:after{
  background: url("./MEDIA/arrowRightRed.svg") no-repeat;
}

/*--Three sections --*/

#holderForThreeSectionWithCircles{
  flex-direction: column;
}

.sectionWithCircle{
  width: 100%;
  border:0;
}

#middleSectionWithCircel{
  margin:0;
}

/* =================================================
        RECENT FEEDBACK FROM HERE
=================================================== */

#dialogueBubble{
  width:15%;
}

#contentFeedbackHolder{
  width:90%;
}

#contentFeedbackHolder h4{
  margin-top: 10px;
}

#ratingSentence:before {
    display: block;
    content: "";
    width: 101px;
    height: 19px;
    margin: auto auto 10px auto;
    background: url(./MEDIA/ratingStars.jpg) no-repeat;
    background-size: cover;
}

#ratingSentence:after{
  display: none;
}

.quoteBox{
  width:100%;
}

/* =================================================
        WHERE ARE WE FROM HERE
=================================================== */

#whereAreWeSideTextBox{
  width:90%;
  margin:auto;
  height:auto;
  z-index: 0;
  position: static;
}

#whereAreWeSideTextBox ul{
  -webkit-columns: 2;
  -moz-columns: 2;
}

#findOutMoreButton{
  display: block;
  margin: 20px auto;
}

#whereAreWeContentHolder{
  background: none;
  height: auto;
}

#map{
  width:100%;
  z-index: 0;
  position: static;
  display: block;
  top:0;
  height:445px;
}

/* =================================================
        CONTACT US FROM HERE
=================================================== */

#contactUsContentHolder{
  flex-direction: column-reverse;
  max-width: 95%;
}

#contactUsLeftBlock{
  width:100%;
    
}

#contactUsRightBlock{
  width:100%;
}

#haveAProjectHolder{
  width:100%;
  margin: 40px auto 10px auto;
}

#formBoxes{
  height:auto;
  flex-direction: column;
}

#contactUsLeftBoxes{
  width:100%;
}

#contactUsLeftBoxes input{
  margin-top: 5px;
  margin-bottom: 5px;
}

#contactUsMiddleBoxes{
  width: 100%;
  height:100px;
  margin-bottom: 5px;
}

#contactUsRightBoxes{
  width: 100%;
}

#contactUsRightBoxes input{
  margin-top: 5px;
  margin-bottom: 5px;
}

#contactUsLeftBlock{
  margin-top:230px;
}

#contactUsLeftBlock h2{
  text-align: center;
}

#contactUsSocialBlock{
  padding-left: 35%;
  padding-bottom: 30px;
  padding-top: 30px;

}
    
#buttonContactUsHome{
margin-left: 30%;
width: 40%; 
}   



textarea, #buttonContactUs, #topEqua{
font-size: 12px;
}


.contactUsInput::-webkit-input-placeholder {
font-size: 12px;
}

.contactUsInput:-moz-placeholder { /* Firefox 18- */
font-size: 12px;
}

.contactUsInput::-moz-placeholder {  /* Firefox 19+ */
font-size: 12px;
}

.contactUsInput:-ms-input-placeholder {
font-size: 12px;
}
/*==================================
  GALLERY WORK IMAGES AND SLIDER
===============================*/

#ourBrandsDesktop{
display: none;
}

#ourBrandsPhone{
display: block;
}

#hsixOnLogosSlider{
margin-bottom: 30px;
display: none;
font-family: OpenSans-Bold;
}

#hsixOnLogosSliderPhone{
display: block;
}

#leftSideWork{
width: 90%;
margin: auto;
margin-left: 5%;
border-right: none;
}

#rightSideWork{
width: 90%;
margin: auto;
margin-left: 5%;
}

#ulForGalleryImageChanging li{
padding-left: 5px;
padding-right: 5px;
}

#leftGalleryDiv{
width: 100%;
}

#rightGalleryDiv{
width: 100%;
}
    
    
 /*==================================
  DEVELOPMENT PAGE FROM HERE
===============================*/   
    #topLeftHolder,#topRightHolder,#bottomLeftHolder,#bottomRightHolder{
        width: 100%;
    }

    #topRightHolder img{
        margin-top: 0px;
    }
    
    .developmentBoldMainText, .developmentRegularMainText{
        margin-left: 5%;
    }
    
    #digitalBottomLeftHolder{
       width:100%;
    }
    
    #digitalBottomLeftHolder img {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
     }
    
    #topRightHolder.printTopRigthHolder img {
    margin-top: 80px;
    margin-bottom: 150px;
    }
    

#printCarImageFloatedInTheMiddle {
    height: 20%;
    top: 82%;
    width: 90%;
    margin-left: 7%;
    }
    
    #printBottomGalleryHolder{
    height: 120px;
    }
    

    
    
/*<><><><><><><><><><><><><><><><><><><><><><><><><><><>
            404 PAGE FROM HERE
<><><><><><><<><><><><><><<><><><><><><><><><><><><><<><>*/


#innerHolderFourZeroFour{
padding: 150px 0px 50px 0px;
}

#innerHolderFourZeroFour h1{
font-size: 40px;
margin-bottom: 12px;
}

#innerHolderFourZeroFour h3{
font-size: 16px;
margin-bottom: 6px;
}

#buttonFourZeroFour{
  height: 40px;
  width: 200px;
}


#buttonFourZeroFour p{
  font-size: 16px;
  padding: 6px 5px 5px 10px;
}


#buttonFourZeroFour p:after{
    width: 24px;
    height: 24px;
}

#buttonFourZeroFour:hover{
    box-shadow: inset 200px 0px 0 0 #ba2a32;
}
    
    
/* =================================
        OCIP - CONTACT PAGE 
=================================== */
    #contactUsPL-ContentHolder{
        flex-direction: column-reverse;
    }
    
    #contactUsPL-LeftBlock{
        padding-top: 30px;
    }
    
    #contactUsPL-ContentHolder{
        width: 90%;
    }
    
    #emailBox, #buttonFormPL{
        width: 50%;
    }
    
    #contactUsSocialBlock{
        padding-left: 38%;
    }
    
    #buttonContactUs.buttonContactUsPL, #buttonContactUs{
        width: 40%;
        margin-left: 30%;
    }
    
    .contactBoldMainText{
        padding-left: 5%;
    }
    
    #contactPageContentHolder{
        width: 90%;
        text-align: left;
    }
    #contactPageContentHolder p{
        margin-left: 0px;
    }
    
    #formBoxes{
        margin-left: 0px;
    }
    
    #contactPageIconsHolder > div {
    width: 40%;
    margin-left: 30%;
}
    
    #contactPageIconsHolder{
        flex-direction: column;
    }
    
    .contactPageIcon{
        width: 100%;
    }
    
    

    
    
    
    
    
    
    
    
    
    .developmentHeaderMainTextHolder h1{
        font-size: 45px;
        padding-top: 125px;
    }
    
}
