@media screen and (max-width: 500px) {

@viewport{
      zoom: 1.0;
      width: device-width;
  }

body{
  width: 100%;
}

p {
  font-size: 12px;
}

.desktopImage{
  display: none !important;
}

.mobileImage{
  display:block !important;
}

/* ===================================================
                NAVIGATION MENU FROM HERE
====================================================*/

#leftSideNav img{
  width: 100%;
}

#rightSideNav > object{
  display: none;
}

#burgerLogoHolder{
  position: relative;
  left:30%;
}

.navMenuPopUpWindowOpen{
width: 100%;
right: 0px;
}

.navMenuPopUpWindowOpen{
width: 100%;
right: 0px;
border-radius: 0px 0px 4px 4px;
}

.contactUsSocialMediaNav{
height: 30px;
display:inline;
margin-right: 8%;
}

.socialIconsNavMenu{
display: block;
}

.burgerLogoHolderClass:hover{
background: url('MEDIA/navMenuIconDarkRed.png') no-repeat;
background-position: 24px 10px;
background-color: black;
opacity: 0.8;
background-size: 50% 35%;
border-radius: 10px 10px 0px 0px;
}

.triangleDownIconClass{
display: none;
width: 15px;
height: 15px;
margin-top: 35px;
margin-left: 38px;
}

.burgerLogoHolderClass:hover .triangleDownIconClass{
display: block;
}

/*================================================
            HEADER FROM HERE - 4 IMAGES
==================================================*/

#pOnHeaderIMageONe{
  font-size: 15px;
}

.holderOnHeader{
  width:80%;
  margin:auto;
  position: relative;
  top: 50px;
}

#imageOnSLideOne{
  width:100%;
}

#skyLimitText{
  margin-left: 0;
  font-size: 45px;
}

.carousel-indicators{
  left:90%;
}

#headerThreeImage{
background-position: left;
}

#startupText{
font-size: 5vh;
}

#headerOneImage, #headerTwoImage, #headerThreeImage, #headerFourImage{
height: 100vh;
}

/* =================================================
        WHO ARE WE?
=================================================== */

#wAwHolder{
background-position: center;
}

#wAwArrowDown{
width:15%;
margin-left: 42.5%;
}

#wAwContentHolder{
width: 90%;
margin-left: 5%;
text-align: left;
}

#wAwContentHolder p{
width: 100%;
}
/* =================================================
        LET'S GET STARTED FROM HERE
=================================================== */

#letsGetStartedHolderInner{
  height:auto;
  padding-top: 10px;
}

#letsGetStartedHolderInner h2{
  margin:0;
}

.threeDivsInsideLetsGetStarted{
  width:100%;
}

.circleForThreeDivs{
  display: none;
}

#firstDivInsideThreeDivs{
  border: 0px;
}

.printerIcon{
  position: relative;
  display: block;
  margin: auto;
  top:-60px;
  left: 0;
}

.textNextToCircle{
  left:5px;
  top:19px;
  width: 100%;
  text-align: center;
}

.circleAroundNumber{
  border: 2px solid #000000;
  border-radius: 25px;
  padding: 0px 10px 0px 10px;
}

.circleForThreeDivs{
  left:0;
  top:34px;
}

.textInsideTheThreeDivs{
  position: static;
  display: block;
  margin-right: 0;
  text-align: center;
}

.buttonFindOutMoreInThreeDivs{
  position: static;
  width: 180px;
  margin: auto;
}

#secondDivInsideThreeDivs{
  margin:50px auto auto auto;
  width:100%;
  top:50px;
  border: 0px;
}

#brushIcon{
  position: relative;
  top:-50px;
}

#thirdDivInsideThreeDivs{
  margin-top: 100px;
}

.pencilIcon{
  display: none;
}

#oneThirdOfTheInnerHolder{
  position: absolute;
  right:0;
}

#twoThirdsOfTheInnerHolder{
  width:100%;
}

#twoThirdsOfTheInnerHolder h2{
  font-size: 36px;
}

.listInHidenGetStarted{
  margin-left: 5%;
  margin-right:5%;
}

.buttonContactUsHiddenDiv{
  margin:auto;
}

.closeHiddenDivButton{
  margin-right: 45%;
}

/* =================================================
        OUR PROCESS FROM HERE
=================================================== */

#leftSideProcess{
  border: 0px;
  width:100%;
  text-align: center;
  float: none;
}

#rightSideProcess{
  position: static;
  width:90%;
  margin: 10px auto auto auto;
  float: none;
  text-align: center;
}

#middlePartProcess > div{
  width:90%;
  margin:auto;
}

#enquireNowButton{
  position: static;
  margin: auto;
}

/* =================================================
        WHY CHOOSE US FROM HERE
=================================================== */

#topLeftWhyUs{
  width: 90%;
  margin: auto;
}

#contentHolderWhyUs{
  margin: 50px auto 0px auto;
}

#topLeftWhyUs img{
  display: none;
}

#getInTouchButton{
  display: block;
  margin: 10px auto auto auto;
}

#middleLeftWhyUs img{
  width:100%;
}

#middleLeftWhyUs{
  width: 90%;
  margin: auto;
}

#middleRightWhyUs{
  width:90%;
}

#middleRightWhyUs h2{
  text-align: center;
  margin-bottom: 5px;
}

#middleRightWhyUs img {
  display: none;
}

#middleRightWhyUs img{
  display: block;
  width: 100%;
}

#ourWorkButton{
  margin: 10px auto;
  display: block;
  float: none;
}

#bottomLeftWhyUs{
  width:90%;
  margin:0;
}

#bottomLeftWhyUs h2{
  margin-bottom:10px;
}

#bottomLeftWhyUs #enquireWhyUsButton{
  margin: 20px auto 20px auto;
}


/*=========================================
            OUR FEEDBACK FROM HERE
==========================================*/
#smallerBoxFeedback{
  width:100%;
  margin:0;
}


/*================================================
                OUR RATES FROM HERE
=================================================*/

#tableHolder{
  display: none;
}

#holderOurRatesRightSideHeader{
  display: none;
}

#ourRatesHeaderHolder{
  width:70%;
  margin:auto;
  border:0px;
  text-align: center;
  display: inline-block;
}

#holderOurRatesLeftSideHeader{
  width:90%;
  margin:auto;
  float:none;
  padding: 0;
}

#innerHolderForOurRates{
  padding-top: 10px;
}

#downloadButton{
  margin: 50px auto;
  height:30px;
  border:2px solid #000000;
  width: 175px;
  border-radius: 25px 25px;
  transition: all 0.5s;
}

#downloadButton:active{
  transform: scale(0.8);
}

#downloadButton p{
  color: #000000;
  font-family: OpenSans-Bold;
  font-size: 15px;
  margin:0;
  padding: 3px 5px 5px 10px;
  transition: all 0.5s;
}

#downloadButton p:after{
   content: "";
    background: url("./MEDIA/arrowRigth.svg") no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    margin: 0px 6px 0px 10px;
    box-shadow: inset 0 0 0 0 #000000;
	  -webkit-transition: all 1s;
	  -moz-transition: all 1s;
	  transition: all 1s;
    transition-delay: 0.2s;
}

#downloadButton:hover{
    box-shadow: inset 180px 0px 0 0 #000000;
    cursor: pointer;
}

#downloadButton:hover p{
  color:#ffffff;
}

#downloadButton:hover p:after{
  background: url("./MEDIA/arrowWhite.svg") no-repeat;
}

/*--Three sections --*/

#holderForThreeSectionWithCircles{
  flex-direction: column;
}

.sectionWithCircle{
  width: 100%;
  border:0;
}

#middleSectionWithCircel{
  margin:0;
}

/* =================================================
        RECENT FEEDBACK FROM HERE
=================================================== */

#dialogueBubble{
  width:15%;
}

#contentFeedbackHolder{
  width:90%;
}

#contentFeedbackHolder h4{
  margin-top: 10px;
}

#ratingSentence:before {
    display: block;
    content: "";
    width: 101px;
    height: 19px;
    margin: auto auto 10px auto;
    background: url(./MEDIA/ratingStars.jpg) no-repeat;
    background-size: cover;
}

#ratingSentence:after{
  display: none;
}

.quoteBox{
  width:100%;
}

/* =================================================
        WHERE ARE WE FROM HERE
=================================================== */

#whereAreWeSideTextBox{
  width:90%;
  margin:auto;
  height:auto;
  z-index: 0;
  position: static;
}

#whereAreWeSideTextBox ul{
  -webkit-columns: 2;
  -moz-columns: 2;
}

#findOutMoreButton{
  display: block;
  margin: 20px auto;
}

#whereAreWeContentHolder{
  background: none;
  height: auto;
}

#map{
  width:100%;
  z-index: 0;
  position: static;
  display: block;
  top:0;
  height:445px;
}

/* =================================================
        CONTACT US FROM HERE
=================================================== */

#contactUsContentHolder{
  flex-direction: column-reverse;
  max-width: 95%;
}

#contactUsLeftBlock{
  width:100%;
}

#contactUsRightBlock{
  width:100%;
}

#haveAProjectHolder{
  width:100%;
  margin: 40px auto 10px auto;
}

#formBoxes{
  height:auto;
  flex-direction: column;
}

#contactUsLeftBoxes{
  width:100%;
}

#contactUsLeftBoxes input{
  margin-top: 5px;
  margin-bottom: 5px;
}

#contactUsMiddleBoxes{
  width: 100%;
  height:100px;
  margin-bottom: 5px;
}

#contactUsRightBoxes{
  width: 100%;
}

#contactUsRightBoxes input{
  margin-top: 5px;
  margin-bottom: 5px;
}

#contactUsLeftBlock{
  margin-top:150px;
}

#contactUsLeftBlock h2{
  text-align: center;
}

#contactUsSocialBlock{
  padding-left: 35%;
  padding-bottom: 30px;
  padding-top: 30px;

}


textarea, #buttonContactUs, #topEqua{
font-size: 12px;
}


.contactUsInput::-webkit-input-placeholder {
font-size: 12px;
}

.contactUsInput:-moz-placeholder { /* Firefox 18- */
font-size: 12px;
}

.contactUsInput::-moz-placeholder {  /* Firefox 19+ */
font-size: 12px;
}

.contactUsInput:-ms-input-placeholder {
font-size: 12px;
}
/*==================================
  GALLERY WORK IMAGES AND SLIDER
===============================*/

#ourBrandsDesktop{
display: none;
}

#ourBrandsPhone{
display: block;
}

#hsixOnLogosSlider{
margin-bottom: 30px;
display: none;
font-family: OpenSans-Bold;
}

#hsixOnLogosSliderPhone{
display: block;
}

#leftSideWork{
width: 90%;
margin: auto;
margin-left: 5%;
border-right: none;
}

#rightSideWork{
width: 90%;
margin: auto;
margin-left: 5%;
}

#ulForGalleryImageChanging li{
padding-left: 5px;
padding-right: 5px;
}

#leftGalleryDiv{
width: 100%;
}

#rightGalleryDiv{
width: 100%;
}

}
