@media screen and (max-width: 800px) {

    
/* =================================================
        WHO ARE WE STARTED FROM HERE
=================================================== */
#wAwArrowDown{
width: 10%;
}
    
 
/* =================================================
        WHO ARE WE STARTED FROM HERE
=================================================== */
.threeDivsInsideLetsGetStarted{
height: 300px;
}

#letsGetStartedHolderInner{
height: 640px;
}

.pencilIcon{
width: 200px;
margin-left: 10px;
}

    .textInsideTheThreeDivs{
        margin-right: 0px;
    }
    
    
    
/* =================================================
       OUR PROCESS STARTED FROM HERE
=================================================== */
    

#middlePartProcess > div {
width: 47%;
margin-left: 1%;
}

#enquireNowButton {
left: 70%;    
}
    
/* =================================================
        WHY US STARTED FROM HERE
=================================================== */
#bottomLeftWhyUs h2, #middleRightWhyUs h2, #topLeftWhyUs h2{
font-size: 35px;

}

#middleLeftWhyUs img{
padding-top: 60px;
}

#bottomRightWhyUs img{
padding-top: 70px;
}

#ourWorkButton{
margin: 20px 20px 30px 0px;
}
    
    

/* =================================================
       RECENT FEEDBACK STARTED FROM HERE
=================================================== */
#quotesContainer {
width: 95%;
margin-left: 2.5%;
}
    
    
    
    
    
    
/* =================================================
        OUR RATES STARTED FROM HERE
=================================================== */
.holderForStartedBusinessProPack h3{
font-size: 14px;
padding-top: 0px;
}

.holderForStartedBusinessProPack p{
padding-top: 3px;
}

#ourRatesHeaderHolder{
width: 200px;
}

#holderOurRatesLeftSideHeader{
padding-right: 0px;
}
    
    
    

/* =================================================
        WHERE ARE WE STARTED FROM HERE
=================================================== */
#whereAreWeSideTextBox{
width: 55%;
}
    
    
    
    
/* =================================================
        CONTACT US STARTED FROM HERE
=================================================== */
    
textarea, #buttonContactUs, #topEqua{
font-size: 14px;
}   
    
    
.contactUsInput::-webkit-input-placeholder {
font-size: 14px;
}

.contactUsInput:-moz-placeholder { /* Firefox 18- */
font-size: 14px;
}

.contactUsInput::-moz-placeholder {  /* Firefox 19+ */
font-size: 14px;
}

.contactUsInput:-ms-input-placeholder {
font-size: 14px;
}
    
/*========================================
        FOOTER FROM HERE 
===========================================*/
#desktopVersionFooter{
display: none;
}

#smallVersionFooter{
display: block;
width: 100%;
height: 200px;
background-color: #d9413f;
text-align: center;
}

#footerHolderInner{
width: 100%;
height: 200px;
margin: auto;
}

#footerHolderInner p{
display: block;
padding-left: 20px;
}

footer ul{
list-style-type: none;
display: block;
width: 90%;
margin-left: 5%;
text-align: center;
}

footer ul li{
display: inline-block;
padding: 0px 10px 0px 10px;
}

#footerLogo{
float: none;
width: 30%;
padding-top: 28px;
}
    
    
/* =====================================
            DIGITAL PAGE FROM HERE
=======================================*/
.pOnDigital{
padding-top: 0px !important;
}

    
/* =====================================
         PRINT PAGE FROM HERE
======================================*/
#topRightHolder.printTopRigthHolder img{
margin-top: 180px;
}  
    
#printCarImageFloatedInTheMiddle{
top: 53%;
}
    
    #topRightHolder img{
    margin-top: 130px;
    }
    
    
    

/*<><><><><><><><><><><><><><><><><><><><><><><><><><><>
            404 PAGE FROM HERE
<><><><><><><<><><><><><><<><><><><><><><><><><><><><<><>*/


#innerHolderFourZeroFour{
width: 1206px;
max-width: 100%;
text-align: center;
padding: 150px 2.5% 10% 2.5%;
margin: auto;
}

#innerHolderFourZeroFour h1{
font-size: 55px;
}

    #innerHolderFourZeroFour h1{
color: white;
font-family: OpenSans-Bold;
font-size: 50px;
margin-bottom: 15px;
}

#innerHolderFourZeroFour h3{
color: white;
font-family: OpenSans-Regular;
font-size: 17px;
margin: 0px;
margin-bottom: 8px;
}
    
/*==========================================
            SITE MAP
========================================== */
    #siteMapBoydWithLinks{
        height: auto;
        margin-bottom: 100px;
    }
    
    #siteMapFramework, #informationSiteMap, #littleIconOnInfoSiteMap{
        display: none;
    }
    
    #siteMapFrameworkPhone{
        display: block;
        width: 60px;
        height: auto;
        margin-left: 19px;
    }
    
    #siteMapHome {
    top: -1.2%;
    left: 77px;
    }
    
    .textSiteMap{
            margin-top: -54px;
            margin-left: 40px;
            width: 210px;
    }
    
    .textSiteMap h5 {
    font-size: 28px;
    padding-left: 20px;
    }
    
    .textSiteMap h6 {
    padding-left: 21px;
        font-size: 15px
    }
    
    #holderForHeadingText h1, #holderForHeadingText h2{
        margin-left: 5%;
    }
    
    #siteMapLittleFramework{
        top: 6.7%;
        left: 77px;
    }
    
    
    #siteMapPrices{
        top: 11.5%;
        left: 75px;
    }
    #siteMapServices{
        top: 7.9%;
        left: 75px;
    }
    
    #siteMapOurWork{
         top: 15.8%;
        left: 77px;
    }
    
    #siteMapOurWork:after{
        background: none;
    }
    
    #siteMapBlog{
        top: 38.8%;
        left: 77px;
    }
    

#siteMapContact{
top: 44.5%;
left: 77px;
}

#siteMapWhereAreWe{
top: 50.15%;
left: 77px;
}


#siteMapWhereAreWe:after{
background: none;
}

#siteMapSiteMap{
top: 98.5%;
left: 77px;
}

#siteMapPrint{
top: 20.8%;
left: 77px;
}

#siteMapPrint:after{
background: none;
}



#siteMapDigital{
top: 25.8%;
left: 77px;
}

#siteMapDigital:after{
background: none;
}

#siteMapDevelopment{
top: 30.7%;
left: 77px;
}

#oxford{
top: 55.1%;
left: 82px;
}

#portsmouth{
top: 58.3%;
left: 82px;
}

#london{
top: 61.5%;
left: 82px;
}

#birmingham{
top: 64.7%;
left: 82px;
}

#leeds{
top: 67.9%;
left: 82px;
}

#manchester{
top: 71.1%;
left: 82px;
}

#edinburgh{
top: 74.3%;
left: 82px;
}

#norwitch{
top: 77.5%;
left: 82px;
}

#cardiff{
top: 80.7%;
left: 82px;
}

#york{
top: 83.9%;
left: 82px;
}

#bath{
top: 87.1%;
left: 82px;
}

#plymouth{
top: 90.3%;
left: 82px;
}
    
    #blackVeritcalLineWhereAreWe{
        width: 3px;
    height: 30px;
    position: absolute;
    top: 18.8%;
    margin-left: 98px;
    display: block;
    }
    
    #blackVeritcalLineWhereAreWeDigital{
    width: 3px;
    height: 30px;
    position: absolute;
    top: 23.8%;
    margin-left: 98px; 
           display: block;
    }
    
    #blackVeritcalLineWhereAreWeDevelopment{
    width: 3px;
    height: 30px;
    position: absolute;
    top: 28.73%;
    margin-left: 98px; 
           display: block;
    }
    
    #blackVeritcalLineWhereAreWeCities{
    width: 3px;
    height: 30px;
    position: absolute;
    top: 53.1%;
    margin-left: 98px;
           display: block;
    }

    #informationSiteMapPhone{
    width: 90%;
    margin-left: 5%;
       display: block;
    }
    
    #informationSiteMapPhone h6{
        margin-top: 40px;
        font-size: 15px;
        line-height: 180%;
font-family: OpenSans-Bold;
    }
    
 
/* =================================
    OCIP - CONTACT PAGE
================================== */
    
    #contactUsPL-MiddleBlock{
        display: none;
    }
    
    #contactUsPL-RightBlock{
        flex: 2;   
    }
    
    #contactUsPL-LeftBlock h2{
        font-size: 30px;
    }
    
    #contactUsSocialBlock{
        padding-left: 1%;
    }
    
    #latestInfoHolder h2{
        font-size: 30px;
    }
      
    #contactUsPL-LeftBlock{
        padding-top: 0px;
    }
    
      #contactUsPL-ContentHolder{
        width: 100%;
    }
    

    
}